@{
    ViewData["Title"] = "Kontakt";
}

<div class="container">
    <br><br>
    <h1 class="header center indigo-text">TwójSklep.pl<br/>
        Skontaktuj się z nami.
    </h1>
    
    <div>
        <img src="~/images/helpdesk.jpg" alt="Pracownicy" class="image1" width="200" />
        <h4>Telefony:</h4>
        <p>Centrala: 700-123-456, 700-456-789</p>
        <p>Biuro Obsługi Klienta: 600-123-456, 600-456-789</p>

    </div>
    <div class="row center">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" id="button" class="btn-large waves-effect waves-light indigo">Do sklepu</a>
    </div>
    <br><br>

</div>     